<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Blocipedia, <%= @user.email! %></h1>

    <p>
      We are super pumped for you to join the community.
    </p>

    <h3>Forever yours,</h3>
    <h4 style="font-style: italic;">The Blocipedia Management</h4>
  </body>
</html>
