// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jeff {
  display: inline-flex;
  padding-bottom: 30px;
}

.jeff-quote {
  margin-left: 30px;
  margin-top: 20%;
}
