<h4>Ah, so you want to go back to standard, huh?</h4>
<%= link_to "Switch to Standard", method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to downgrade your account?" } %>
